/* menu  */
#menu{
	width:250px; 
	position:absolute; 
	top:50px; 
	left:20px;
	z-index: 20;
}
#menu #menu-header{
	
}

/* panel */



/* panel management */
#panel{
	padding: .3em;
}
#panel .ui-tabs{
	padding:0;
	margin:.3em;
}
#panel .ui-helper-reset{
	padding: 0.3em 0.3em;
}

#panel #panel-tabs-monitoring.ui-tabs-panel{
	padding: 0;
}

#panel #panel-tabs-monitoring div.accordion div{
	/*text-align:center;*/
	padding: .7em 1.3em;
}

#panel #panel-select .ui-helper-reset
{
	padding: 0.9em 0.3em;
}

#panel #panel-select .ui-button
{
	padding: .2em .5em;
	margin-right: .2em;
    
}

#panel #panel-select #container-select-all .ui-button
{
	margin-bottom: .3em;
}



/* journal */
#panel-log div.journal div{
	margin: 3px 1px;
	padding:1px 5px;
	border-bottom: 1px solid #ddd;
}
#panel-log div.journal div.info{
	background-color:#b9efb9;
}
#panel-log div.journal div.warn{
	background-color:#FFFFBF;
}
#panel-log div.journal div.error{
	background-color:#FFBFBF;
}



#panel-log div span{
	padding:1px 5px;
}
#panel-log div span.null{
	
}
#panel-log div span.log{
	
}
#panel-log div span.info{
	background-color:#b9efb9;
}
#panel-log div span.warn{
	background-color:#FFFFBF;
}
#panel-log div span.error{
	background-color:#FFBFBF;
}



/* end -panel */



.rts
{
  font-weight: bold;  
  /* min-width: 150px;  */
  white-space: nowrap;  
  z-index:1;  
  position: absolute;
  top:0;
  left:0;
}

.rts div
{
  cursor:pointer;
  float: left;
  display: inline-block;
  background-color: #edeef0;
  border-bottom: 2px solid #9e9e9e;
  border-right: 2px solid #9e9e9e;
}

.rts .tower
{
  padding:4px 2px;
  margin-top: -10px;
  border-radius: 0px 5px 0px 5px;
  border-right: 1px solid #9e9e9e;
  content: url("images/icon.png");
}

.rts .name
{
  color: #2a5885;
  border-radius: 5px 5px 0px 0px;
  margin-left: 3px;
  padding:1px 7px;
  text-overflow: ellipsis;
}

.ui-menu .ui-menu-item
{
list-style-image: none;
	
}

.ui-widget-header
{
text-align:center; 
padding: 3px 0px; 
cursor: default;
}


/* tower style */
.rts .wait		{ background-color: #0033AA; 	} /* темно-синий - черный */
.rts .auth		{ background-color: #B8FF74; 	} /* салатовый */
.rts .ready		{ background-color: #7FFFD4; 	} /* бирюзовый */
.rts .error		{ background-color: #ff6060; 	} /* красный */
.rts .black		{ background-color: #000; 		} /* черный */
.rts .orange	{ background-color: #e2c928; 	} /* оранжевый */
.rts .default	{ background-color: #EEE; 		} /* серый */
.rts .select	{ /* цвет башни */
background-color: #e2c928b3; 	
border-left: 3px solid #999;
border-top: 2px solid #999;
border-right: 1px solid #999;
border-bottom: 1px solid #999;
} 

 
 